.accordion_item {
  overflow: hidden;
}
.title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.description_wrapper {
  transition: height 0.4s ease-in-out;
  p {
    font-size: 16px;
    padding: 16px;
  }
}